.db-table-search {
  width: 44%;
  margin-bottom: 20px;
}

.db-table-head {
    font-weight: 700;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dashboard-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.dashboard-create-btn {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

