.dashboard {
    display: flex;
}

.dashboard-container{
    flex: 6;
    overflow: hidden;
    display: flex;
    flex-direction: column
}

.dashboard-list {
    /* box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47); */
    padding: 20px;
    padding-top: 0;
    margin: 20px;
    overflow-y: auto;
    flex: 1
}

.dashboard-list-title {
    font-weight: 500;
    color: gray;
    margin-bottom: 15px;
}
