.featured-container {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.featured {
  flex: 1;
  padding: 15px;
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
}

.featured-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #555;
}

.featured-title {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.featured-bottom {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.featured-label,
.featured-amount,
.item-title,
.item-value {
  font-weight: 500;
  color: #555;
}

.featuredChart {
  width: 100px;
  height: 100px;
}

.featured-title,
.featured-desc {
  font-weight: 500;
  color: #555;
}

.featured-amount {
  font-size: 30px;
  color: #007bff;
  margin-top: -10px;
}

.item-input {
  width: 75px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 10px;
  margin-left: 10px;
}
