@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.sidebar {
  position: sticky;
  top: 0;
  min-height: 100vh;
  overflow-x: hidden;
  transition: width 0.3s ease, padding 0.3s ease, flex 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  min-width: 50px;
  z-index: 100;
  height: 100%;
  color: #ecf0f1;
  padding: 20px;
  background-color: #1479fb;
}

.sidebar.expanded {
  flex: 0.7;
  width: 250px;
  padding: 10px 10px;
  display: flex;
  justify-content: left;
}

.sidebar.collapsed {
  width: 50px;
  flex: 0.1;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
}

@media (max-width: 1175px) {
  .sidebar span {
    display: none;
  }

  .sidebar.expanded {
    width: 50px;
    flex: 0.1;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
  }

  .resize-icon {
    display: none;
  }
}

.sidebar-center {
  overflow: hidden;
  transition: padding-left 0.3s ease;
}

/* List item styles */

.sidebar-center ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar ul li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.sidebar-logout {
  cursor: pointer;
}

.resize-icon {
  position: absolute;
  top: 50%;
  right: -5px;
  cursor: pointer;
}

.resize-icon:hover {
  opacity: 0.7;
}

.sidebar-link {
  text-decoration: none;
}

.sidebar-li-icon {
  font-size: 24px;
  color: #ffffff;
}

.sidebar span:not(#company-text) {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  margin-left: 15px;
  width: 440px;
}

.sidebar-top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.company-icon {
  width: 30px;
  height: auto;
  /* margin-right: 10px; */
}

#company-text {
  font-size: 30px;
  font-family: 'Courgette', cursive;
  margin-left: 8px;
  margin-top: 15px;
}